<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/core/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery-menu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery-ui-1.9.0.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.price_format.1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MeusScripts/ajaxHelper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MeusScripts/jqgridHelper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MeusScripts/mascaraValidacao.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-pt-br.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/jquery.meio.mask.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/jquery-ui-1.9.0.custom.min.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <script type="text/javascript">
        // call setMask function on the document.ready event
        jQuery(function ($) {
            $('input[type="text"]').setMask();
        });
    </script>
    @Html.Hidden("hdfUrlRoot", Url.Content("~/"))
    @Html.Partial("_vuTopo")
    @Html.Partial("_vuMenu")
    <div id="main_default" class="main-scroll">
        @RenderBody()
    </div>
    <div class="ui-widget-overlay div_loading" id="divLoading">
        <img src="@Url.Content("~/Content/images/load.gif")" />
    </div>
</body>
</html>
