@{
    ViewBag.Title = "Cadastro de NCM";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    List<ProjectMaster.Core.ToolBarButton> Buttons = new List<ProjectMaster.Core.ToolBarButton>();

    Buttons.Add(new ProjectMaster.Core.ToolBarButton(ProjectMaster.Core.ToolBarButtonType.CadastrarNovo, "Cadastrar novo NCM.", "Cadastrar novo NCM.", "CadastrarNovo", "", Url.Content("~/NCM/NCM?acao=New"), true, true));

    var queryNCM = (IQueryable<ProjectMaster.Data.pm_ncm>)ViewData["queryNCM"];
    var classRow = "webgrid-rows";
}

@Html.Partial("_vuToolBar", Buttons)

<div id="main" class="main-scroll">
    <table class="webgrid" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="50px">
                    <span>ID</span> 
                </th>
                <th width="50px">
                    <span>NCM</span> 
                </th>
                <th>
                    <span>Descrição</span>
                </th>
                <th class="webgrid-col-action" align="center">
                   <center><span>Ação</span></center>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (ProjectMaster.Data.pm_ncm linha in queryNCM)
        {
            <tr id='lin@(linha.id_ncm.ToString())' class="@classRow">
                <td>
                    <span>@linha.id_ncm</span>
                </td>
                <td>
                    <span>@linha.ncm</span>
                </td>
                <td>
                    <span>@linha.ds_descricao</span>
                </td>
                <td align="center">
                    <div style='width: 100px'> 
                        <a href='@Url.Action("NCM", "NCM", new { acao = "View", id_ncm = linha.id_ncm })'> <img src='@Url.Content("~/Content/images/edit.png")'/> </a>  
                        <a href="JavaScript:delete_file('@linha.id_ncm','NCM','rows')"> <img src='@Url.Content("~/Content/images/delete.png")'/> </a> </div>
                </td>
            </tr>        
             if (classRow == "webgrid-alternating-rows")
             {
                 classRow = "webgrid-rows";
             }
             else
             {
                 classRow = "webgrid-alternating-rows";
             }
        }
        </tbody>
    </table>
</div>

<br />

<div id="dialog-confirm" title="NCM" style="display: none">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Excluir NCM?</p>
</div>
