@model ProjectMaster.Application.Models.PessoaModels
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    var queryPessoa = (IQueryable<ProjectMaster.Data.pm_pessoa>)ViewData["queryPessoa"];
    var classRow = "webgrid-rows";
}

@using (Html.BeginForm("LookupScreen", "Pessoa", FormMethod.Post, new { id = "formulario_procurar", name = "formulario_procurar" }))
{           
    <fieldset title="Procurar">
    <legend>Procurar</legend>  
    <table width="100%">
        <tr>
            <td>
                <label class="normal">Marca / Código:</label>
                <input type="text" value="@Model.ds_marca" id="ds_marca" name="ds_marca" size="25" maxlength="25" />
                
                <br />
                
                <label class="normal">Razão Social:</label>
                <input type="text" value="@Model.ds_razao_social" id="ds_razao_social" name="ds_razao_social" size="25" maxlength="80" />
                
                <br />

                <label class="normal">Documento:</label>
                <input type="text" value="@Model.nr_documento" id="nr_documento" name="nr_documento" size="14" maxlength="14" />

                <label class="normal">Tipo Cadastro:</label>
                @Html.DropDownListFor(model => model.dm_tipo_pessoa, ProjectMaster.Bussiness.Domain.GetDomainByTipo(ProjectMaster.Bussiness.Domain.Tipos.TipoCliente, true))
            </td>
            <td align="right" valign="top">
                <input id="procurar" name="procurar" type="submit" value="Procurar" />
            </td>
        </tr>
    </table>
    </fieldset>
        <script type="text/javascript">
            $(function () {
                $("#procurar").button();
            });
        </script>
}

<div class="main-scroll">

    <table class="webgrid" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="50px">
                    <span>ID</span> 
                </th>
                <th width="150px">
                    <span>Marca/Código</span> 
                </th>
                <th>
                    <span>Razão Social</span>
                </th>
                <th>
                    <span>Documento</span>
                </th>
                <th>
                    <span>Inscrição Estadual</span>
                </th>
                <th>
                    <span>Tipo Cadastro</span>
                </th>
                <th class="webgrid-col-action" align="center">
                   <center><span>Ação</span></center>
                </th>
            </tr>
        </thead>
        <tbody>
        @if (queryPessoa != null)
        {
            foreach (ProjectMaster.Data.pm_pessoa linha in queryPessoa)
            {
            <tr id='lin@(linha.id_pessoa.ToString())' class="@classRow">
                <td>
                    <span>@linha.id_pessoa</span>
                </td>
                <td>
                    <span>@linha.ds_marca</span>
                </td>
                <td>
                    <span>@linha.ds_razao_social</span>
                </td>
                <td>
                    <span>@linha.nr_documento</span>
                </td>
                <td>
                    <span>@linha.nr_ie</span>
                </td>
                <td>
                    <span>@ProjectMaster.Bussiness.Domain.GetTextByDomain(ProjectMaster.Bussiness.Domain.Tipos.TipoCliente, linha.dm_tipo_pessoa)</span>
                </td>
                <td align="center">
                    <div style='width: 100px'> 
                        <a href="javascript:close('@linha.id_pessoa','@linha.ds_marca','@linha.ds_razao_social')"> <img src='@Url.Content("~/Content/images/ok.png")' alt="Selecionar"/> </a>  
                    </div>
                </td>
            </tr>        
                if (classRow == "webgrid-alternating-rows")
                {
                    classRow = "webgrid-rows";
                }
                else
                {
                    classRow = "webgrid-alternating-rows";
                }
            }
        }
        </tbody>
    </table>
<script type="text/jscript">
    function close(id_pessoa, ds_marca, ds_razao_social) {
        window.parent.$("#id_pessoa").val(id_pessoa);
        window.parent.$("#ds_marca").val(ds_marca);
        window.parent.$("#ds_razao_social").val(ds_razao_social);
        
        window.parent.$("#dt_vencimento").focus();

        window.parent.$("#dialog-lookup").dialog("close");      
    }
</script>
</div>